@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900'); 

body {
  font-family: 'Lato', sans-serif;
}
.app-body .sidebar {
  height: 100%;
}

.card-header {
  background: #587790;
  color: #fff;
}
app-layout-main {
  width: 100%;
}
.card {
  height: calc(100% - 1.5rem);
}