.section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.section h4 {
  text-transform: capitalize;
  color: #2f353a;
  font-size: 14px;
  font-weight: bold;
}
.section p {
  margin-bottom: 0;
}
.section h2 { 
  margin-bottom: 0;
  color: red;
}
.section:last-child {
  border: 0;
}
.section .row > div:first-child {
  border-right: 1px solid #ddd;
}
