<main class="main">
  <!-- Breadcrumb-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
  </ol>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <app-employee-profile></app-employee-profile>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-header">Card title</div>
          <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea commodo consequat.</div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <app-employee-profile></app-employee-profile>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <app-employee-profile></app-employee-profile>
      </div>

      <div class="col-sm-6 col-lg-4">
        <app-employee-profile></app-employee-profile>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <app-employee-profile></app-employee-profile>
      </div>

      <div class="col-sm-6 col-lg-4">
        <app-employee-profile></app-employee-profile>
      </div>
    </div>
  </div>
</main>