<main class="main">
  <!-- Breadcrumb-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
  </ol>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <app-employee-profile></app-employee-profile>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-header">{{hrData.title}}</div>
          <div class="card-body">
            <div class="section" *ngFor="let item of hrData.data">
              <h4 class="text-center">{{item.label}}</h4>
              <div class="row">

                <div class="col-lg-6 text-center">
                  <h2>{{item.present}}</h2>
                  <p>People</p>
                </div>
                <div class="col-lg-6 text-center">
                  <h3>{{item.total}}</h3>
                  <p>Total</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <app-company-news></app-company-news>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <app-directory></app-directory>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <app-social-feed></app-social-feed>
      </div>

      <div class="col-sm-6 col-lg-4">
        <app-upcoming-event></app-upcoming-event>
      </div>
    </div>
  </div>
</main>