.user_info {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.user_img {
  max-width: 50px;
  float: left;
  margin-right: 20px;
}
.user_meta {
 width: calc(100% - 70px);
 display: inline-block;
}
.user_meta h5 {
  color: #20a8d8;
  margin-bottom: 0;
}
.user_summary >div {
  margin-bottom: 10px;
}
.user_summary i {
  margin-right: 20px;
}